.token-form {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.token-form .input {
  flex: 1;
}

.token-form .section-button {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0 0;
}

.token-form .button {
  flex: 1;
}

.token-form .button ~ .button {
  margin: 0 0 0 0.5rem;
}

.token-form .button.reset {
  background: transparent;
  color: var(--color-primary);
}
