.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 320px;
  max-height: 100vh;
}

.content .list-content {
  flex: 1;
  padding-bottom: 84px;
  overflow-y: auto;
}

.button.add-token {
  position: fixed;
  bottom: 32px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.84);
  border-radius: 24px;
  width: 320px;
  height: 48px;
}

.button.add-token:hover {
  box-shadow: 4px 4px 8px var(--color-shadow);
}

.modal .card.input-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
}
