.input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 8px 16px;
  font-size: 1.1rem;
  outline: none;

  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.input:focus,
.input:active {
  background: rgba(12, 12, 32, 0.025);
  border-bottom: 1px solid var(--color-primary);
}
