.button {
  --color-shadow: rgba(0, 0, 0, 0.3);

  background: var(--color-primary);
  border: none;
  border-radius: 0.2rem;
  padding: 0.6rem 1.2rem;
  cursor: pointer;

  color: white;
  font-size: 1.1rem;

  transition: box-shadow ease-in-out 0.1s;
}

.button:hover {
  box-shadow: 2px 2px 4px var(--color-shadow);
}

.button:active {
  box-shadow: 2px 2px 8px var(--color-shadow);
}
